<div class="mdl-layout__drawer">
    <header>MathIsFun</header>
    <div class="scroll__wrapper" id="scroll__wrapper">
        <div class="scroller" id="scroller">
            <div class="scroll__container" id="scroll__container">
                <!-- left navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link mdl-navigation__link--current left_menu_link" href="{{ url_for('admin_bp.show_settings') }}" >
                        <i class="material-icons" role="presentation">dashboard</i>
                        User Settings
                    </a>
                    <a class="mdl-navigation__link current left_menu_link" href="{{ url_for('admin_bp.show_users') }}" >
                        <i class="material-icons">developer_board</i>
                        Manage Users
                    </a>
                    <div class="sub-navigation">
                        <a class="mdl-navigation__link" style="color: #757575; border-left:none; background-color:transparent">
                            <i class="material-icons">pages</i>
                            Login As {{ admin }}
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                        <div class="mdl-navigation">
                            {% for x in user_names %}
                           <a class="mdl-navigation__link" href="{{ url_for('login_bp.login_as_admin', user_id=x._id, user_name=x.name) }}">
                                {{ x.name }} 
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <hr>
                    <a class="mdl-navigation__link" href="{{ url_for('login_bp.show_login') }}">
                        <i class="material-icons" role="presentation">link</i>
                        Go To Login
                    </a>
                </nav>
                <!-- end left navigation -->
            </div>
        </div>
        <div class="scroller__bar" id="scroller__bar"></div>
    </div>
</div>