<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <!-- Search-->
        <form method="POST" action="{{ url_for('admin_bp.search_user') }}" name="search_form">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search" name="search_user" placeholder="press Enter to search" required />
                <label class="mdl-textfield__label" for="search">Search for user name</label>
            </div>
        </div>
    </form>
         <div class="avatar-dropdown" id="icon">
            <span>Admin</span>
            <img src="{{url_for('static', filename='img/Icon_header.png')}}">
        </div>
        <!-- Account dropdown-->
        <ul class="mdl-menu mdl-list mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
            for="icon">
            <li class="mdl-list__item mdl-list__item--two-line">
                <span class="mdl-list__item-primary-content">
                    <span class="material-icons mdl-list__item-avatar"></span>
                    <span>Admin</span>
                    <span class="mdl-list__item-sub-title">Luke@skywalker.com</span>
                </span>
            </li>
            <li class="list__item--border-top"></li>
            <a href="{{url_for('login_bp.do_logout')}}">
                <li class="mdl-menu__item mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon text-color--secondary">exit_to_app</i>
                        Log out
                    </span>
                </li>
            </a>
        </ul>
    </div>
</header>