.operation-icon {
    font-size: 50px;
    top: 8px;
    position: relative;
}

.mdl-cell {
    max-width: 400px;
}

#answer {
    font-size: 50px;
    text-align: center;
}

.operation-icon-small {
    font-size: 10px;
}

.mdl-card__title {
    height: auto !important;
}

.mdl-cell {
    min-width: 400px;
}

.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.keypad {
    font-size: 50px;
    padding: 20px;
}

.undo {
    top: -4px;
}

.badge-slider {
    float: left;
    margin: -4px 0px 4px 141px;
    z-index: 10;
}

.hint {
    min-height: 10px;
    padding: 4px 16px;
}

.big-label {
    font-size: 50px;
}
.small-label {
    position: relative;
    top: -11px;
}
.mdl-switch.big-label {
    height: 75px;
    margin-left: auto;
    margin-right: auto;

}
.mdl-card__title {
    min-height: 80px;
}

.mdl-chip__text {
    min-width: 30px;
    text-align: center;
}
.mdl-chip__contact.right {
    margin-right: -12px;
}
.title_span {
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    padding-left: 50px;
    margin-bottom: 6px;
    margin-top: -6px;
}

.mdl-layout__header {
    min-height: 45px;
}

.mdl-layout__tab_disable {
    flex-grow: 1;
    display: block;
    height: 100%;
    text-transform: uppercase;   
    margin: 0;
    border: none;
    position: relative;
    text-decoration: none;
    height: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    overflow: hidden;
    line-height: 48px;
    width: auto;
}