{% extends 'admin/admin_base.html'%}

{% block content %}
<div class="mdl-grid ui-tables">

    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">USERS</h1>
            </div>
            <div class="mdl-card__supporting-text no-padding overflow-visible">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell">#</th>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Added Date</th>
                            <th class="mdl-data-table__cell--non-numeric">Last Login</th>
                            <th class="mdl-data-table__cell--non-numeric">Score</th>
                            <th class="mdl-data-table__cell--non-numeric">Multiply</th>
                            <th class="mdl-data-table__cell--non-numeric">Adding</th>
                            <th class="mdl-data-table__cell--non-numeric">Total Correct</th>
                            <th class="mdl-data-table__cell--non-numeric">Total Fails</th>
                            <th class="mdl-data-table__cell--non-numeric">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td class="mdl-data-table__cell">5</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ user.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ user.add_date.strftime("%d %B %Y") }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ user.last_login.strftime("%d %B %Y") }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">FIX THIS</td>
                            <td class="mdl-data-table__cell--non-numeric">

                                {% for mult in user.mult_opt_nr %}
                                {% if (user.mult_opt_nr[mult] ) %}
                                {{ mult }} &nbsp;
                                {% endif %}
                                {% endfor %}


                            </td>
                            <td class="mdl-data-table__cell--non-numeric">English</td>
                            <td class="mdl-data-table__cell--non-numeric">English</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">

                                {% if user.name != 'admin' %}
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green" href="{{ url_for('edit_user_settings', user_id=user._id) }}">
                                    Edit Settings
                                </a>
                                  <span class="ml15"></span>
                                <button
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal"
                                    id="dialog_{{ user._id }}">Delete</button>

                                <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
                                    for="dialog_{{ user._id }}">
                                    <li class="mdl-list__item">
                                        Delete User&nbsp;<strong>{{ user.name }}</strong> ?
                                    </li>

                                    <li class="mdl-list__item">
                                        <button
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                            <i class="material-icons">reply</i>Cancel</button>
                                        <div class="ml15"></div>
                                        <a class="mdl-button  mdl-button--raised  button--colored-red del-user"
                                            id="{{ user._id }}">
                                            Delete <i class="material-icons"
                                                style="margin-left: 15px; margin-right: 0;">forward</i></a>

                                    </li>
                                </ul>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.left_menu_link').toggleClass('mdl-navigation__link--current');
        $('.show-modal').click(function (el) {
            // console.log(el);
            // $(this).prop('id', 'more2'); 
            // $('#changeme').attr('for', $(this).attr('id'));
            // console.log($(this).attr('id'));
            // $('#more2_changed').trigger('click');
        })

        $('.del-user').click(function() {
            // console.log($(this).attr('id'));
            $(this).closest("tr")
                .children('td, th')
                .animate({ margin: 0, padding: '12px 0px' })
                .wrapInner('<div />')
                .children()
                .slideUp(function () { $(this).closest('tr').remove();
        });

        $.post("{{ url_for('delete_user') }}", { user_id: $(this).attr('id') })
            .done(function (data) {
                //  alert("Response Was: " + data);
            });

    })
    })

</script>
{% endblock %}