<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MathIsFun Admin</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/getmdl-select.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nv.d3.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/application.min.css')}}">

</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header is-small-screen">
        
        {% include('partials/top_menu.html') %}
        {% include('partials/left_menu.html') %}

        <main class="mdl-layout__content ">
            {% block content %} {% endblock %}
        </main>

    </div>
    <script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/getmdl-select.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/material.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/nv.d3.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/layout/layout.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/scroll/scroll.min.js')}}"></script>

</body>
</html>