{% extends 'admin_base.html'%}
{% set cnt = namespace(value=0) %}
{% block content %}
<div class="mdl-grid ui-tables">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">USERS</h1>
            </div>
            <div class="mdl-card__supporting-text no-padding overflow-visible">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell">#</th>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Added Date</th>
                            <th class="mdl-data-table__cell--non-numeric">Last Login</th>
                            <th class="mdl-data-table__cell--non-numeric">Points</th>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                            <th class="mdl-data-table__cell--non-numeric" >Enabled</th>
                            <th class="mdl-data-table__cell--non-numeric" ></th>
                            <th class="mdl-data-table__cell--non-numeric" ></th>
                            <th class="mdl-data-table__cell--non-numeric" >Statistics</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for user in users %}
                        {% set cnt.value = cnt.value + 1  %}
                        <tr  id="remove1{{ user._id }}">
                            <td class="mdl-data-table__cell">{{ cnt.value }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ user.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ user.add_date.strftime("%d %B %Y") }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ user.last_login.strftime("%d %B %Y") }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ user.points }}</td>
                            <td class="mdl-data-table__cell">Add</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% if (user.exercise.add.opt_enabled) %}
                                <span class="label label--mini background-color--primary">Enabled</span>
                                {% else %}
                                <span class="label label--mini background-color--secondary">Disabled</span>
                                {% endif %}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% for mult in user.exercise.add.opt_nr %}
                                {% if (user.exercise.add.opt_nr[mult] ) %}
                                <span class="label label--mini color--purple">{{ mult }}</span>
                                {% else %}
                                <span class="label label--mini color--dark-gray">{{ mult }}</span>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">Ok</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric" colspan="5">
                                {% if user.name != 'admin' %}
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" href="{{ url_for('admin_bp.edit_user_settings', user_id=user._id) }}">
                                    Edit Settings
                                </a>
                                  <span class="ml15"></span>
                                <button
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-red"
                                    id="dialog_{{ user._id }}">Delete</button>

                                <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
                                    for="dialog_{{ user._id }}">
                                    <li class="mdl-list__item">
                                        Delete User&nbsp;<strong>{{ user.name }}</strong> ?
                                    </li>

                                    <li class="mdl-list__item">
                                        <button
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                            <i class="material-icons">reply</i>Cancel</button>
                                        <div class="ml15"></div>
                                        <a class="mdl-button  mdl-button--raised  button--colored-red del-user"
                                            id="{{ user._id }}">
                                            Delete <i class="material-icons"
                                                style="margin-left: 15px; margin-right: 0;">forward</i></a>
                                    </li>
                                </ul>
                                {% endif %}
                            </td>
                            <td class="mdl-data-table__cell" >Substract</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% if (user.exercise.substract.opt_enabled) %}
                                <span class="label label--mini background-color--primary">Enabled</span>
                                {% else %}
                                <span class="label label--mini background-color--secondary">Disabled</span>
                                {% endif %}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% for mult in user.exercise.substract.opt_nr %}
                                {% if (user.exercise.substract.opt_nr[mult] ) %}
                                <span class="label label--mini color--purple">{{ mult }}</span>
                                {% else %}
                                <span class="label label--mini color--dark-gray">{{ mult }}</span>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">Ok</td>
                            <td class="mdl-data-table__cell--non-numeric"> 
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"></td>
                        </tr>
                        <tr id="remove2{{ user._id }}">
                            <td class="mdl-data-table__cell" colspan="5"></td>
                            <td class="mdl-data-table__cell" >Multiply</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% if (user.exercise.multiply.opt_enabled) %}
                                <span class="label label--mini background-color--primary">Enabled</span>
                                {% else %}
                                <span class="label label--mini background-color--secondary">Disabled</span>
                                {% endif %}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% for mult in user.exercise.multiply.opt_nr %}
                                {% if (user.exercise.multiply.opt_nr[mult] ) %}
                                <span class="label label--mini color--purple">{{ mult }}</span>
                                {% else %}
                                <span class="label label--mini color--dark-gray">{{ mult }}</span>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">Ok</td>
                            <td class="mdl-data-table__cell--non-numeric"> 
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"></td>
                        </tr>
                        <tr id="remove3{{ user._id }}">
                            <td class="mdl-data-table__cell" colspan="5"></td>
                            <td class="mdl-data-table__cell" >Divide</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% if (user.exercise.divide.opt_enabled) %}
                                <span class="label label--mini background-color--primary">Enabled</span>
                                {% else %}
                                <span class="label label--mini background-color--secondary">Disabled</span>
                                {% endif %}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% for mult in user.exercise.divide.opt_nr %}
                                {% if (user.exercise.divide.opt_nr[mult] ) %}
                                <span class="label label--mini color--purple">{{ mult }}</span>
                                {% else %}
                                <span class="label label--mini color--dark-gray">{{ mult }}</span>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">Ok</td>
                            <td class="mdl-data-table__cell--non-numeric"> 
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                                <span class="label label--mini label__availability background-color--primary"></span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    {% include('js/admin_users.js') %}
    </script>
{% endblock %}